<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆</title>
	<style type="text/css" media="screen">
		li{list-style-type:none;}
	</style>
</head>
<body>
<form action="/admin/login" method="post" accept-charset="utf-8">
	<ul>
		<li><input type="text" name="name" placeholder="请输入用户名"></li>
		<li><input type="password" name="password" placeholder="请输入密码"></li>
		<li><input type="submit"  value="确定"></li>
	</ul>
</form>
</body>
</html>